h1 {
  padding-top: 1.5rem;
}

.users {
  margin: 1rem;
  width: 90%;
  max-width: 40rem;
  height: 50%;
  font-family: 'Merriweather', serif;
  background-color: #f2f2f7;
}

.users ul {
  list-style: none;
  padding: 1rem;
}

.users li {
  font-size: 1.2rem;
  border: 1px solid #ccc;
  background-color: white;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.wrapper {
  display: flex;
  padding: 5rem;
  background-image: linear-gradient(
    to bottom right,
    rgb(90, 90, 153, 0.7),
    rgb(182, 180, 180, 0.2)
  );
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  display: inline-block;
  border-radius: 10px;
  background-color: rgb(90, 90, 153);
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  font-family: 'Merriweather', serif;
  padding: 10px;
  width: 20%;
  transition: all 0.5s;
  cursor: pointer;
}
