.button {
  min-width: 150px;
  max-width: 180px;
  display: inline-block;
  border-radius: 10px;
  background-color: #4d6d9a;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Merriweather', serif;
  padding: 10px;
  width: 25%;
  transition: all 0.5s;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #4d6d9a;
  border-color: #4d6d9a;
}

.button:focus {
  outline: none;
}

.button:hover {
  color: black;
}
